<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body class="loginbg">
    	<div class="status">
    	<div th:if="${param.error}">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
    	</div>
    	</div>
    	<div class="content">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <table class="center">
            <tr>
                <td>User Name:</td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> <input type="password" name="password"/></td>
            </tr>
            </table>
            <br/><br/><br/>
            <div><input class="sibtn" type="submit" value="Sign In"/></div>
        </form>
        </div>
        <div class="base">Az ősi kínai mondás szerint:<br/>"麵包屑下的所有動物都是平等的"</div>
    </body>
</html>