body {
  background-color:DodgerBlue;
  color:White;
}

a:link, a:visited {
   color: white;
}

h1.kezdo {
  text-align: center;
}

table.menu {
    width:100%;
}

table.menu td {
    text-align:center;
}

table.menu a:hover {
    opacity: 0.5;
}

p.minden {
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
}

h1.floatimage img{
    float:right;
    vertical-align: top;
}

table.database {
    width:25%;
    border: 3px solid white;
    border-collapse: collapse;
}

table.database td, table.database th{
  border: 2px solid white;
}

table.database tr.elso {
    text-align: center;
    font-weight: bold;
}